* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

img {
  width: 100%;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: var(--font-h2);
}

.container {
  display: grid;
  gap: 20px;
  max-width: 354px;
  width: 100%;
  margin: 0 auto;
  line-height: 1;
}

.multiple-platforms h2,
.schedule-posts p,
.growth-followers h2 {
  margin-top: 20px;
}

.consistent-schedule h2,
.schedule-posts h2,
.create-post h2,
.ai-content h2 {
  margin-bottom: 20px;
}
.schedule-posts h2,
.growth-followers h2 {
  text-align: center;
}

.growth-followers h2, .ai-content h2{
  white-space: pre-line;
}

/* HEADER */
.header {
  padding: 50px;
  text-align: center;
  background-color: var(--purple-500);
  color: var(--white);
}
.header h1 {
  text-transform: capitalize;
  margin-bottom: 26px;
  font-size: var(--font-h1);
}
.header p {
  font-size: var(--font-size);
}
.header span {
  color: var(--yellow-500);
}
.header img {
  height: 40px;
}
/* END OF HEADER */

/* MULTIPLE ACCOUNTS */
.multiple-platforms {
  background-color: var(--white);
}
/* END MULTIPLE ACCOUNTS */

/* CONSISTENT SCHEDULE */
.consistent-schedule {
  background-color: var(--yellow-500);
}
/* END CONSISTENT SCHEDULE */

/* SCHEDULE POSTS */
.schedule-posts {
  background-color: var(--purple-100);
}
.schedule-posts p {
  font-weight: var(--font-weight-400);
}
/* END SCHEDULE POSTS */

/* END GROWTH FOLLOWERS */
.growth-followers {
  background-color: var(--purple-500);
  color: var(--white);
}
.growth-followers img {
  max-width: 240px;
  margin: 0 auto;
  display: block;
}

/* END GROWTH FOLLOWERS */

/* AUDIENCE GROWTH*/
.audience-growth {
  background-color: var(--white);
  padding-top: 0px;
}
.audience-growth img {
  max-width: 160px;
}
.audience-growth h2 {
  font-size: var(--font-h1);
  margin-bottom: 10px;
}
.content-audience-growth {
  margin: 20px 0px;
}
/* END AUDIENCE GROWTH*/

/* CREATE POST*/
.create-post {
  background-color: var(--yellow-100);
}
.create-post img {
  max-width: 150px;
}
.create-post i {
  color: var(--purple-500);
}
/* END CREATE POST*/

/* AI CONTENT*/
.ai-content {
  background-color: var(--yellow-500);
}
.ai-content img {
  max-width: 240px;
}
/* END AI CONTENT*/
