
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
    

    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);

    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);

    --font-family: 'DM Sans', sans-serif;
   
    --font-paragraph: 1.125rem;
    --font-desktop: 4.5rem;
    --font-h1: 2.5rem;
    --font-h2: 1.5rem;

    --font-weight-400: 400;
    --font-weight-500: 500;
  }
  
  body {
    font-family: var(--font-family);
    color: var(--black);
    margin: 0;
    padding: 0;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--font-paragraph);
  }
  